POSTALL_DOMAIN=memo.sudabon.com
CERTBOT_EMAIL=
POSTGRES_PASSWORD=postall
AWS_REGION=ap-northeast-1
AWS_COGNITO_USER_POOL_ID=ap-northeast-1_xogm4iId4
AWS_COGNITO_CLIENT_ID=5ouammtqkvidc60e5c260r1n8m
S3_BUCKET=postall-attachment-files-472750886047
